# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.swp
*.dylib

# Binary output directory
*bin/

# Example files that are generated.
smuggle-net.json

# Editor directories
.idea/
.vscode/
.zed/

# A scratch directory for temporary files that should not be committed,
# providing a space for experimentation and testing.
.scratch/
